<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "Name:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Own3d.tv EXACT Name:" %><br />
    <%= f.text_field :owned_name %>
  </div>
  <div class="field">
    <%= f.label "Twitch.tv EXACT Name:" %><br />
    <%= f.text_field :twitch_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
