<div class='span12'>
	<ul class="nav nav-pills">
	  <li id='all'><a href="#"><%= Game.where(:current_viewers.gt => 0).count %> - All</a></li>
	  <% @genres.each do |gnr| %>
	  	<li id='<%= gnr.giantbomb_id %>'>
	  		<a href="<%= genre_path(URI.encode(gnr.giantbomb_id)) %>">
	  			<%= gnr.games.count %> - <%= gnr.name %>
				</a>
	  	</li>
	  <% end %>
	</ul>
  <script type="text/javascript">
  	var active_genre = '<%= params[:genre_id] %>';
  	if(active_genre != ''){
  		$('#'+active_genre).addClass('active');
  	}else{
  		$('#all').addClass('active');
  	}
  	console.log(active_genre);
  </script>
</div>
<hr>
<div class='row-fluid'>	
	<ul class="thumbnails">
		<% @games.each do |game| %>
		  <li class='span2'>
		  	<div class="thumbnail">
			  	<a href="http://twitch.tv/directory/game/<%= URI.encode(game.name) %>">
				      <img src="<%= game.boxart_url %>" alt="<%= game.name %>">
		    	</a>
		    	<div style='height: 44px;'>
			      <h5><%= game.name %></h5>
					</div>
		      <%= link_to game do %>
		      <small><%= game.current_viewers %> viewers | <%= game.current_channels %> channels</small>
		      <% end %>
		  	</div>
		  </li>
		<% end %>
	</ul>
</div>
<script type="text/javascript">
function fixThumbnailMargins() {
    $('.row-fluid .thumbnails').each(function () {
        var $thumbnails = $(this).children(),
            previousOffsetLeft = $thumbnails.first().offset().left;
        $thumbnails.each(function () {
            var $thumbnail = $(this),
                offsetLeft = $thumbnail.offset().left;
            if (offsetLeft < previousOffsetLeft) {
                $thumbnail.css('margin-left', 0);
            }
            previousOffsetLeft = offsetLeft;
        });
    });
}
fixThumbnailMargins();


</script>
<br>
<!-- 
giantbomb api key
569f949a9144b175988ed3179acde3139464a4eb

get genres of a game
http://api.giantbomb.com/game/24024/?format=json&field_list=genres&api_key=569f949a9144b175988ed3179acde3139464a4eb

genre 
has_and_belongs_to_many games

game
has_and_belongs_to_many genres
 -->