<small>Numbers updated <%= time_ago_in_words(Viewstamp.last.created_at) %> ago</small>

<div style='width: 900px;' id="graphdiv"></div>
<% 
  min_rows = @games.first.viewstamps.count
  if min_rows > 50
    min_rows = 50;
  elsif min_rows < 10
    min_rows = 10
  end
  gs = @games.limit(10)
  jsn = {}
  gs.each do |g| 
    col = []
    viewstamps = g.viewstamps.order_by([:created_at, :desc]).limit(min_rows)
    if jsn['Date'] == nil
      jsn['Date'] = []
      viewstamps.each do |vs|
        jsn['Date'].push(vs.created_at)
      end
    end
    viewstamps.each do |vs|
      col.push(vs.viewers)
    end
    jsn[g.name] = col
  end  
  g_names = jsn.keys.join(',')
  rows_arr = [g_names]
  counter = 0
  no_games = jsn.keys.length - 1
  #do this as many times as there are rows
  jsn['Date'].length.times do
    rs = []
    #do this for each column
    jsn.values.each do |cl|
      rs.push(cl[counter])
    end
    counter += 1
    rows_arr.push(rs.join(','))
  end
  data = rows_arr.join('\n')
%>
<script type="text/javascript">

  var min_rows = '<%= min_rows %>';
  var data = '<%= data %>';

  g = new Dygraph(
    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    data,
    {
      rollPeriod: 7,
      showRoller: true
    }

  );
</script>
<table>
  <tr>
    <th>Game Name</th>
    <th>Recent Viewers</th>
    <th>- just Own3d</th>
    <th>- just Twitch</th>
    <th>Recent Channels</th>
    <th>- just Own3d</th>
    <th>- just Twitch</th>
    <th>Own3d Name</th>
    <th>Twitch Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <% if game.viewstamps.any? %>
      <th><%= game.viewstamps.last.viewers %></th>
      <th><%= game.viewstamps.last.owned_viewers %></th>
      <th><%= game.viewstamps.last.twitch_viewers %></th>
      <th><%= game.viewstamps.last.channels %></th>
      <th><%= game.viewstamps.last.owned_channels %></th>
      <th><%= game.viewstamps.last.twitch_channels %></th>
    <% end %>
    <th><%= game.owned_name %></th>
    <th><%= game.twitch_name %></th>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
