<small>I just (Nov.5, 11pm PST) put out an update that consequently made the graphs ugly, this will take a few days to clear up... The newer viewer data should look fine, and individual game graphs should be fine</small>
<div style='width: 100%;' id="graphdiv"></div>
<small>Numbers updated <%= time_ago_in_words(Viewstamp.last.created_at) %> ago</small>
<form method='get' class='form-inline pull-right'>
  <fieldset>
      <%= select_tag 'days_back', options_for_select(["1", "3", "7", "30", '9001' ], params[:days_back]), :class => 'input-mini' %>
    <button type="submit" class="btn">Days of Data</button>
  </fieldset>
</form>
<script type="text/javascript">
  var graph_data = '<%= @graph_data %>';
  g = new Dygraph(
    // containing div
    document.getElementById("graphdiv"),
    // CSV or path to a CSV file.
    graph_data,
    {
      rollPeriod: 1,
      showRoller: false
    }
  );
</script>
<table class='table table-striped table-bordered table-hover table-condensed'>
  <thead class='info'>
    <tr>
      <th>Game Name</th>
      <th>Recent Viewers</th>
      <th>- just Own3d</th>
      <th>- just Twitch</th>
      <th>Recent Channels</th>
      <th>- just Own3d</th>
      <th>- just Twitch</th>
      <th>Own3d Name</th>
      <th>Twitch Name</th>
  <!--     <th></th>
      <th></th>
      <th></th> -->
    </tr>
  </thead>
<tbody>
<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.name, game %></td>
    <% if game.viewstamps.any? %>
      <td><%= game.viewstamps.last.viewers %></td>
      <td><%= game.viewstamps.last.owned_viewers %></td>
      <td><%= game.viewstamps.last.twitch_viewers %></td>
      <td><%= game.viewstamps.last.channels %></td>
      <td><%= game.viewstamps.last.owned_channels %></td>
      <td><%= game.viewstamps.last.twitch_channels %></td>
    <% end %>
    <td><%= game.owned_name %></td>
    <td><%= game.twitch_name %></td>
<!--     <td><%#= link_to 'Show', game %></td>
    <td><%#= link_to 'Edit', edit_game_patd(game) %></td>
    <td><%#= link_to 'Destroy', game, confirm: 'Are you sure?', metdod: :delete %></td> -->
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
