<!DOCTYPE html>
<html>
<head>
  <title>Gameballs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<h1><%= link_to_unless_current 'GameBalls', root_url %> - measuring eyeballs for games</h1>
	</div>
	<hr>
<%= yield %>

</body>
</html>
