<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GameBalls" %></title>
    <meta name="description" content="measuring the eyeballs on games">
    <meta name="author" content="Hayk Saakian">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
          <span class='brand'><%= link_to_unless_current 'GameBalls', root_url %> - measuring the eyeballs on games</span>
          <div class='pull-right'>
            <ul class="nav">
              <!-- <li><%#= link_to 'Update viewer counts',update_counts_path %></li> -->
              <li><%= link_to 'Browse Games by Genre', genres_path %></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
        </div>
          <footer>
            <br>
            by <%= link_to "Hayk Saakian", "http://twitter.com/hayksaakian" %>
          </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>